<section id="app-servicos">
    <div class="section section-dark section-navbars" style="padding-top: 7%;">
        <div class="container" id="menu-dropdown" >
            <div class="row">
                <div class="container">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Serviços</h2>
                        <p class="description">Somos especializados na manutenção de eletrodomésticos nacionais e importados, de todas as marcas.</p>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 3%;">
                <div class="col-md">
                    <img class="services-background img-rounded" src="./assets/img/fogao-03.png" alt="Random first slide">
                    <p class="text-center services-text">Fogão</p>
                </div>
                <div class="col-md">
                    <img class="services-background img-rounded" src="./assets/img/geladeira.png" alt="Random second slide">
                    <p class="text-center services-text">Refrigerador</p>
                </div>
                
                <div class="col-md">
                    <img class="services-background img-rounded" src="./assets/img/micro-ondas-electrolux.jpg" alt="Random third slide">
                    <p class="text-center services-text">Microondas</p>
                </div>
                <div class="col-md">
                    <img class="services-background img-rounded" src="./assets/img/lava-louca.png" alt="Random third slide">
                    <p class="text-center services-text">Lava Louça</p>
                </div>
                <div class="col-md">
                    <img class="services-background img-rounded" src="./assets/img/lava-e-seca.jpg" alt="Random third slide">
                    <p class="text-center services-text">Lava e Seca</p>
                </div>
            </div>
        </div>
    </div>
</section>