<section id="app-sobrenos">
    <div class="section section-dark" style="padding-top: 7%; background-color: lightslategrey;">
        <div class="row">
            <div class="container text-center">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Sobre Nós</h2>
                    <h4 class="description">Temos mais de 20 anos no mercado, trabalhando com produtos nacionais e importados de todas as grandes marcas.</h4>
                    <h4 class="description">Estamos preparados para te dar o melhor atendimento, prestando um serviço de qualidade reconhecida. </h4>
                    <h4 class="description">Aceitamos cartão de crédito. </h4>
                </div>
            </div>
        </div>
    </div>
</section>
