<div class="wrapper">
    <div class="main">
        
        <div class="section section-image" style="background-image: url('assets/img/Cozinha-Planejada.jpg'); min-height: 700px;"></div>
        
        <nav class="navbar navbar-expand-lg" style="background-color: lightslategrey;">
            <div class="container">
                <p class="title" style="font-size: initial; font-weight: bold; color: white;">Assistência Técnica Especializada</p>
                <p class="title" style="font-size: initial; font-weight: bold; color: white;">Atendemos a região Oeste de São Paulo</p>
                <p class="title" style="font-size: initial; font-weight: bold; color: white;">Agende seu atendimento pelo tel: (11) 97349-2439</p>    
            </div>
        </nav>

        <app-servicos></app-servicos>
        <app-sobrenos></app-sobrenos>
        <app-faleconosco></app-faleconosco>
    </div>
</div>
