<section id="app-faleconosco">
    <div class="section section-dark section-navbars" >
        <div class="container" id="menu-dropdown" >
            <div class="row">
                <div class="container">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Fale Conosco</h2>
                            <div class="row">
                                <div class="col-md">
                                    <i class="fa fa-whatsapp fa-2x description" aria-hidden="true"></i>
                                    <span class="description" style="font-size: 22px; padding-left: 3%;">(11) 97349-2439</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md">
                                    <i class="fa fa-envelope-o fa-2x description" aria-hidden="true"></i>
                                    <span class="description" style="font-size: 22px; padding-left: 3%;">nardaopestana@hotmail.com</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md">
                                    <i class="fa fa-map-marker fa-2x description" aria-hidden="true"></i>
                                    <span class="description" style="font-size: 22px; padding-left: 2%;">Av. Plutão, 130, Jd Novo Horizonte - Carapicuiba - SP</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md">
                                    <a rel="tooltip" title="Siga-nos no Facebook"  href="https://www.facebook.com/nardao.pestana" target="_blank" style="padding-left: 2%;">
                                        <i class="fa fa-facebook-square fa-2x description"></i>
                                    </a>
                                    
                                    <a rel="tooltip" title="Siga-nos no Instagram"  href="https://www.instagram.com/ronaldoassist/" target="_blank" style="padding-left: 2%;">
                                        <i class="fa fa-instagram fa-2x description"></i>
                                    </a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>