<footer class="footer" style="background-color: ghostwhite;">
    <!-- <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="#">oe</a></li>
                    <li><a href="#">olar</a></li>
                    <li><a href="#">alou</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                </span>
            </div>
        </div>
    </div> -->
</footer>
